<meta name="apple-mobile-web-app-title" content="Pokemon Go Norwich">
<meta name="application-name" content="Pokemon Go Norwich">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png?v=3">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png?v=3">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/images/icons/android-chrome-192x192.png?v=3">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png?v=3">
<link rel="manifest" href="/assets/images/icons/site.webmanifest?v=3">
<link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg?v=3" color="#603cba">
<link rel="shortcut icon" href="/assets/images/icons/favicon.ico?v=3">
<meta name="apple-mobile-web-app-title" content="Pok&eacute;mon Go Norwich">
<meta name="application-name" content="Pok&eacute;mon Go Norwich">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="msapplication-TileImage" content="/assets/images/icons/mstile-144x144.png?v=3">
<meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml?v=3">
<meta name="theme-color" content="#603cba">