<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.data.routes.home }}">{{ site.title }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {%- capture navbar_links_file -%}{{ 'nav_links.html' }}{%- endcapture -%}
        {%- capture navbar_links -%}{%- include {{ navbar_links_file }} -%}{%- endcapture -%}
        {%- assign navbar_link_lines = navbar_links | newline_to_br | strip_newlines | split: '<br />' -%}
        {% for line in navbar_link_lines %}
        {{ line }}
        {%- endfor- %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {%- capture navbar_user_file -%}{{ 'nav_user.html' }}{%- endcapture -%}
        {%- capture navbar_user -%}{%- include {{ navbar_user_file }} -%}{%- endcapture -%}
        {%- assign navbar_user_lines = navbar_user | newline_to_br | strip_newlines | split: '<br />' -%}
        {% for line in navbar_user_lines %}
        {{ line }}
        {%- endfor- %}
      </ul>
    </div>
  </div>
</nav>
