html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#map {
  position: absolute;
  top: 3.5em;
  bottom: 0px;
  width: 100%;
}

.navbar-brand {
  color: #FFFFFF !important;
}

.nest-label {
  font-size: 10pt;
}

.nest-label-name {
  font-size: 12pt;
}
