html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

$navbar-height: 50px;
$navbar-height-large: 60px;

body {
  padding-top: $navbar-height;
}

@media (min-width: 768px) {
  body {
    padding-top: $navbar-height-large;
  }
}

@import "navbar";
