html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@import "navbar";
@import "footer";

body {
  padding-top: $navbar-height;
}

.container {
  min-height: calc(100% - #{$footer-height});
}

@media (min-width: 768px) {
  body {
    padding-top: $navbar-height-large;
  }

  .container {
    min-height: calc(100% - #{$footer-height-large});
  }
}
