---
---

@import "main";
@import "settings";
@import "loader";
@import "search_box";

#map {
  position: absolute;
  top: $navbar-height;
  bottom: 0px;
  width: 100%;
}

@media (min-width: 768px) {
  #map {
    top: $navbar-height-large;
  }
}

.pac-icon-portal {
  background-image: url('/assets/images/portal_gs.png');
}

.pac-icon-pokestop {
  background-image: url('/assets/images/pokestop_gs.png');
}

.pac-icon-gym {
  background-image: url('/assets/images/gym_gs.png');
}

.feature-label {
  font-size: 10pt;
  max-width: 250px;
}

.feature-label {
  .name {
    padding-bottom: 10px;
    font-size: 12pt;
    font-weight: bold;
  }

  .ex {
    margin: 0 4px;
    font-size: 10pt;
    font-style: italic;
    font-weight: bold;
  }

  .option-heading {
    display: inline-block;
    font-size: 11pt;
  }

  .update-to {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: 100% 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
    margin-left: 3px;
    margin-bottom: -4px;
    padding: 4px;
    cursor: pointer;

    &.portal {
      background-image: url('/assets/images/portal.png');
    }

    &.pokestop {
      background-image: url('/assets/images/pokestop.png');
    }

    &.gym {
      background-image: url('/assets/images/gym.png');
    }
  }

  .update-to:hover {
    border-top: 2px solid #aaa;
    padding-top: 2px;
    border-bottom: 2px solid #aaa;
    padding-bottom: 2px;
  }
}
