.navbar-inverse {
  .navbar-brand {
    color: #eeeeee;
    font-size: 20px;
  }

  .navbar-brand:hover,
  .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
  }

  .navbar-nav > li > a {
    color: #cdcdcd;
  }
}

.navbar .navbar-nav > li {
  margin-left: 15px;
  font-size: 16px;

  > a > .icon {
    display: inline-block;
    margin-right: 7px;
  }
}

.navbar-brand,
.navbar-nav > li > a {
  line-height: $navbar-height;
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .navbar-brand,
  .navbar-nav > li > a {
    line-height: $navbar-height-large;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navbar-collapse.collapsing .navbar-nav > li,
.navbar-collapse.collapse.in .navbar-nav > li {
  margin-left: 10px;

  > a > .icon {
    width: 20px;
    text-align: right;
  }
}
