---
---

@import "main";
@import "search_box";

#map {
  position: absolute;
  top: $navbar-height;
  bottom: 0px;
  width: 100%;
}

@media (min-width: 768px) {
  #map {
    top: $navbar-height-large;
  }
}

.nest-label {
  font-size: 10pt;
}

.nest-label-name {
  font-size: 12pt;
}
