---
---

@import "main";
@import "search_box";

#map {
  position: absolute;
  top: $navbar-height;
  bottom: 0px;
  width: 100%;
}

@media (min-width: 768px) {
  #map {
    top: $navbar-height-large;
  }
}

.nest-label {
  font-size: 10pt;
  max-width: 250px;

  .name {
    padding-bottom: 10px;
    font-size: 12pt;
    font-weight: bold;
  }

  .option-heading {
    display: inline-block;
    font-size: 11pt;
  }
}
