.settings-toggle {
  line-height: calc(#{$navbar-height-large} - 32px) !important;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border: 1px solid #333;
  border-radius: 4px;
}

.settings-toggle:focus {
  outline: 0 !important;
}

.settings-toggle:hover,
.settings-toggle:focus {
  background-color: #333 !important;
}

.settings-toggle-mobile {
  float: right;
  background-color: transparent;
  background-image: none;
  border: 1px solid #333;
  border-radius: 4px;
  margin-right: 8px;
}

.settings-toggle-mobile:focus {
  outline: 0;
}

.settings-toggle-mobile:hover,
.settings-toggle-mobile:focus {
  background-color: #333;
}

@media (max-width: 767px) {
  .settings-toggle {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .settings-toggle-mobile {
    display: none;
  }
}

.settings-wrapper {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: #ffffff;
  background-image: none;
}

.settings {
  width: 280px;
  height: 100%;
}

.settings.collapsing {
  width: 0;
  height: auto;
  -webkit-transition: width .35s ease-in-out, visibility .35s ease-in-out;
     -moz-transition: width .35s ease-in-out, visibility .35s ease-in-out;
       -o-transition: width .35s ease-in-out, visibility .35s ease-in-out;
          transition: width .35s ease-in-out, visibility .35s ease-in-out;
}
